@model OOAD_G6_najjaci_tim.Models.Racun

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Racun</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KorisnikSaNalogom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KorisnikSaNalogom.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojRacuna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojRacuna)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CSC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CSC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumIsteka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumIsteka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StanjeRacuna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StanjeRacuna)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
