@model OOAD_G6_najjaci_tim.Models.Karta

@{
    ViewData["Title"] = "Create";
}

<h1>BuyTicket</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
            }
            <div class="form-group">
                <label asp-for="IdSjedisteUTerminu" class="control-label"></label>
                <select asp-for="IdSjedisteUTerminu" class="form-control" asp-items="ViewBag.IdSjedisteUTerminu"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdKorisnikSaNalogom" class="control-label"></label>
                <input type="text" asp-for="IdKorisnikSaNalogom" class="form-control" value="@ViewData["IdKorisnikSaNalogom"]" />
            </div>
            <div class="form-group">
                <label asp-for="IdFilm" class="control-label"></label>
                <input type="text" asp-for="IdFilm" class="form-control" readonly="readonly" value="@ViewData["IdFilm"]" />
            </div>
            <div class="form-group">
                <label asp-for="IdRezervacija" class="control-label"></label>
                <input type="text" asp-for="IdRezervacija" class="form-control" readonly="readonly" value="@ViewData["IdRezervacija"]" />
            </div>
            <div class="form-group">
                <label asp-for="IdTermin" class="control-label"></label>
                <select asp-for="IdTermin" class="form-control" asp-items="ViewBag.IdTermin"></select>
            </div>
            <!-- Dodajte skrivena polja za IdKorisnikSaNalogom, IdFilm i IdRezervacija -->
            <input type="hidden" name="idKorisnikSaNalogom" value="@ViewData["IdKorisnikSaNalogom"]" />
            <input type="hidden" name="idFilm" value="@ViewData["IdFilm"]" />
            <input type="hidden" name="idRezervacija" value="@ViewData["IdRezervacija"]" />
            <div class="form-group">
                <input type="submit" value="Buy" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}