@model IEnumerable<OOAD_G6_najjaci_tim.Models.Karta>

@{
    ViewData["Title"] = "Index";
}

<h1>Tickets</h1>

<p>
    <a asp-controller="Rezervacija" asp-action="ForAdmin" class="btn btn-primary">Go Back</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SjedisteUTerminu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KorisnikSaNalogom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFilm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rezervacija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Termin)
            </th>
            <th>
                Film
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SjedisteUTerminu.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KorisnikSaNalogom.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Film.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rezervacija.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Termin.Vrijeme)
                </td>
                <td>
                    @item.Film.Ime
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    <a asp-action="Filter" asp-route-genre="@item.KorisnikSaNalogom.Id" class="btn btn-primary">TicketsForThisUser</a>
                </td>
            </tr>
        }
    </tbody>
</table>
