@model OOAD_G6_najjaci_tim.Models.KorisnikSaNalogom

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KorisnikSaNalogom</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImaPravoNaPopust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImaPravoNaPopust)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRodjenja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRodjenja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojTelefona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojTelefona)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
