@model OOAD_G6_najjaci_tim.Models.Film

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zanr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zanr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trajanje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trajanje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocjena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocjena)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
