@model OOAD_G6_najjaci_tim.Models.Film

@{
    ViewData["Title"] = "Proba";
}

<h1>Proba</h1>

<p>Id: @Model.Id</p>
<p>Ime: @Model.Ime</p>
<p>Zanr: @Model.Zanr</p>
<p>Trajanje: @Model.Trajanje</p>
<p>Ocjena: @Model.Ocjena</p>

<a asp-action="Index">Back to Index</a>
